@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap");

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: Inter, "sans-serif";

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary-brand: var(--primary-brand);
  --color-primary-light: var(--primary-light);
  --color-primary-blue: var(--primary-blue);
  --color-primary-purple: var(--primary-purple);
  --color-secondary-indigo: var(--secondary-indigo);
  --color-secondary-blue: var(--secondary-blue);
  --color-secondary-mint: var(--secondary-mint);
  --color-secondary-cyan: var(--secondary-cyan);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}
/* --color-chart-1: var(--chart-1);
--color-chart-2: var(--chart-2);
--color-chart-3: var(--chart-3);
--color-chart-4: var(--chart-4);
--color-chart-5: var(--chart-5);
--color-sidebar: var(--sidebar);
--color-sidebar-foreground: var(--sidebar-foreground);
--color-sidebar-primary: var(--sidebar-primary);
--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
--color-sidebar-accent: var(--sidebar-accent);
--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
--color-sidebar-border: var(--sidebar-border);
--color-sidebar-ring: var(--sidebar-ring); */

:root {
  --background: hsl(0, 0%, 100%); /* white */
  --foreground: hsl(0, 0%, 11%); /* black */
  --primary-brand: hsl(0, 0%, 11%);
  --primary-light: hsl(210, 33%, 98%);
  --primary-blue: hsl(201, 100%, 95%);
  --primary-purple: hsl(215, 49%, 93%);
  --secondary-indigo: hsl(231, 94%, 79%);
  --secondary-blue: hsl(202, 100%, 85%);
  --secondary-mint: hsl(124, 59%, 83%);
  --secondary-cyan: hsl(205, 40%, 76%);

  --border: hsl(0, 0%, 11%);
  --input: hsl(0, 0%, 11%);
  --ring: hsl(0, 0%, 11%);
}

.dark {
  --background: hsl(0, 0%, 11%);
  --foreground: hsl(0, 0%, 100%);
  --primary-brand: hsl(239, 78%, 87%);
  --primary-light: hsla(0, 0%, 100%, 0.05);
  --primary-blue: hsl(201, 100%, 95%);
  --primary-purple: hsl(215, 49%, 93%);
  --secondary-indigo: hsl(231, 94%, 79%);
  --secondary-blue: hsl(202, 100%, 85%);
  --secondary-mint: hsl(124, 59%, 83%);
  --secondary-cyan: hsl(205, 40%, 76%);

  --border: hsl(0, 0%, 100%);
  --input: hsl(0, 0%, 100%);
  --ring: hsl(0, 0%, 100%);
}

@layer base {
  * {
    @apply border-border outline-ring/20;
  }

  html {
    @apply scroll-smooth antialiased;
  }

  body {
    @apply bg-background text-foreground;
  }
}
