@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap");

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: Inter, "sans-serif";

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary-brand: var(--primary-brand);
  --color-primary-light: var(--primary-light);
  --color-primary-blue: var(--primary-blue);
  --color-primary-purple: var(--primary-purple);
  --color-secondary-indigo: var(--secondary-indigo);
  --color-secondary-blue: var(--secondary-blue);
  --color-secondary-mint: var(--secondary-mint);
  --color-secondary-green: var(--secondary-green);
  --color-secondary-cyan: var(--secondary-cyan);
  --color-secondary-yellow: var(--secondary-yellow);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-bar-chart-1: var(--bar-chart-1);
  --color-bar-chart-2: var(--bar-chart-2);
  --color-area-chart-1: var(--area-chart-1);
  --color-area-chart-2: var(--area-chart-2);
  --color-pie-chart-1: var(--pie-chart-1);
  --color-pie-chart-2: var(--pie-chart-2);
  --color-pie-chart-3: var(--pie-chart-3);
  --color-pie-chart-4: var(--pie-chart-4);
}

:root {
  --background: hsl(0, 0%, 100%); /* white */
  --foreground: hsl(0, 0%, 11%); /* black */
  --primary-brand: hsl(0, 0%, 11%);
  --primary-light: hsl(210, 33%, 98%);
  --primary-blue: hsl(201, 100%, 95%);
  --primary-purple: hsl(215, 49%, 93%);
  --secondary-indigo: hsl(231, 94%, 79%);
  --secondary-blue: hsl(202, 100%, 85%);
  --secondary-mint: hsl(124, 59%, 83%);
  --secondary-green: hsl(158, 54%, 76%);
  --secondary-cyan: hsl(205, 40%, 76%);
  --secondary-yellow: hsl(47, 100%, 80%);

  --border: hsl(0, 0%, 11%);
  --input: hsl(0, 0%, 11%);
  --ring: hsl(0, 0%, 11%);

  --bar-chart-1: hsl(205, 40%, 76%);
  --bar-chart-2: hsla(204, 40%, 76%, 0.5);
  --area-chart-1: hsl(0, 0%, 11%);
  --area-chart-2: hsl(205, 40%, 76%);
  --pie-chart-1: hsl(0, 0%, 11%);
  --pie-chart-2: hsl(124, 59%, 83%);
  --pie-chart-3: hsl(231, 94%, 79%);
  --pie-chart-4: hsl(202, 100%, 85%);
}

.dark {
  --background: hsl(0, 0%, 11%);
  --foreground: hsl(0, 0%, 100%);
  --primary-brand: hsl(239, 78%, 87%);
  --primary-light: hsla(0, 0%, 100%, 0.05);
  --primary-blue: hsl(201, 100%, 95%);
  --primary-purple: hsl(215, 49%, 93%);
  --secondary-indigo: hsl(231, 94%, 79%);
  --secondary-blue: hsl(202, 100%, 85%);
  --secondary-mint: hsl(124, 59%, 83%);
  --secondary-green: hsl(158, 54%, 76%);
  --secondary-cyan: hsl(205, 40%, 76%);
  --secondary-yellow: hsl(47, 100%, 80%);

  --border: hsl(0, 0%, 100%);
  --input: hsl(0, 0%, 100%);
  --ring: hsl(0, 0%, 100%);

  --bar-chart-1: hsl(205, 40%, 76%);
  --bar-chart-2: hsla(204, 40%, 76%, 0.5);
  --area-chart-1: hsl(239, 78%, 87%);
  --area-chart-2: hsl(205, 40%, 76%);
  --pie-chart-1: hsl(239, 78%, 87%);
  --pie-chart-2: hsl(124, 59%, 83%);
  --pie-chart-3: hsl(231, 94%, 79%);
  --pie-chart-4: hsl(202, 100%, 85%);
}

@layer base {
  * {
    @apply border-border outline-ring/20;
  }

  html {
    @apply scroll-smooth antialiased;
  }

  body {
    @apply bg-background text-foreground;
  }
}
